.container h1 {
text-align: center;
font-family: Arial, Helvetica, sans-serif;
padding-top: 200px;
}

.navbar-brand {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 300;
    font-size: 20px;
    color: rgb(23, 53, 26);
}

.formulario {
    max-width: 300px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;
   
  }
  .formulario label {
    display: block;
    margin-bottom: 10px;
     align-items: center;

  }
  .formulario input[type="email"], 
  .formulario select {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;

  }
  .formulario input[type="submit"] {
    background-color: #1d3f1e;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;

  }
  .formulario input[type="submit"]:hover {
    background-color: #2b5b2d;
  }
